<div class="col-md-6 col-md-offset-3">
	<h1>Edit Bullet Journal Item</h1>
	<%= render 'form' %>

	<h2>Item status key:</h2>
	<p>Status 0: incomplete task</p>
	<p>Status 1: task in progress</p>
	<p>Status 2: completed task</p>
	<p>Status 3: appointment</p>
	<p>Status 4: event</p>
	<p>Status 5: note</p>
	<p>Status 6: do later</p>
</div>